# Dependencies
node_modules/

# Build output
dist/
build/


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids/
*.pid
*.seed

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# Coverage
coverage/

__pycache__
/venv/
.venv
chroma_db/chroma.sqlite3
chroma_db/fad9d4c3-b9c4-4900-9657-36ffe2ad954e/data_level0.bin
chroma_db/fad9d4c3-b9c4-4900-9657-36ffe2ad954e/header.bin
chroma_db/fad9d4c3-b9c4-4900-9657-36ffe2ad954e/length.bin
chroma_db/fad9d4c3-b9c4-4900-9657-36ffe2ad954e/link_lists.bin
chroma_db
*.pyc